.DS_Store
node_modules
package-lock.json
lerna-debug.log
packages/**/dist/
yarn-error.log
tmp
build
dist
*.lerna_backup
.npmrc

# Test recordings can write be written here if the test job did not
# get a chance to run to completion.  The test will cleans these files up afterwards.
/recordings

# Examples
examples/**/*/yarn.lock

# IDE
.vscode/
