language: node_js
node_js:
  - '8'
  - '10'

dist: trusty

addons:
  chrome: stable

cache:
  yarn: true

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH

install:
  - yarn install --no-lockfile --non-interactive

script:
  - commitlint-travis
  - yarn run test:ci
  - ./scripts/require-clean-work-tree.sh
