---
language: node_js
node_js:
  - "6"
  - "8"
  - "10"

sudo: false
dist: trusty

addons:
  chrome: stable

cache:
  yarn: true

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH

install:
  - yarn install --no-lockfile --non-interactive

before_script:
  - lerna bootstrap
  - yarn run build

script:
  - commitlint-travis
  - yarn run lint
  - yarn run test
